<section class="auth-page">
    <h3 class="auth-page-title">Registration page</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="inputUsername1" class="form-label">Username</label>
            <input type="text"
                   class="form-control"
                   id="inputUsername1"
                   aria-describedby="userHelp"
                   formControlName="name"
                   [class.has-error]="getField('name').invalid && getField('name').touched">
            <div id="userHelp" class="text-danger" *ngIf="getField('name').invalid && getField('name').touched">
                <span *ngIf="getFieldErrors('name')?.required">User name is required;</span>
                <span *ngIf="getFieldErrors('name')?.forbiddenCase">User should contain two words;</span>
                <span *ngIf="getFieldErrors('name')?.forbiddenCase">User name - kebab-case, camelCase, SpaceCase - allowed;</span>
                <span *ngIf="getFieldErrors('name')?.minlength?.requiredLength">User name should be at least 8 characters length;</span>
                <span *ngIf="getFieldErrors('name')?.forbiddenCase">User name - no special symbols or numbers allowed</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputEmail1" class="form-label">Email address</label>
            <input type="email"
                   class="form-control"
                   id="inputEmail1"
                   aria-describedby="emailHelp"
                   formControlName="email"
                   [class.has-error]="getField('email').invalid && getField('email').touched">
            <div id="emailHelp" class="text-danger" *ngIf="getField('email').invalid && getField('email').touched">
                <span *ngIf="getFieldErrors('email')?.required">Email is required;</span>
                <span *ngIf="getFieldErrors('email')?.email">Email is incorrect;</span>
                <span *ngIf="getFieldErrors('email')?.forbiddenValue">
                    Email supports only (.com, .net, .org, .co, .us) domains;
                    Only 5 symbols after @ allowed;
                    No more than 3 dotts before @ allowed;
                </span>
                <span *ngIf="getFieldErrors('email')?.forbiddenEmail">Email already exists</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   id="inputPassword1"
                   aria-describedby="passwordHelp"
                   formControlName="password"
                   [class.has-error]="getField('password').invalid && getField('password').touched">
            <div id="passwordHelp"
                 class="text-danger"
                 *ngIf="(form.errors?.identityRevealed && getField('password').touched)
                            || (getField('password').invalid && getField('password').touched)">
                <span *ngIf="getFieldErrors('password')?.required">password is required;</span>
                <span *ngIf="getFieldErrors('password')?.minlength">should be at least 5 characters length;</span>
                <span *ngIf="getFieldErrors('password')?.forbiddenValue">
                    should contain: at least one uppercase letter, one number, one special symbol. $ % . & ! - symbols allowed;
                </span>
                <span *ngIf="form.errors?.identityRevealed">should not contain parts of a user name or email;</span>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create account</button>
        </div>
    </form>
</section>
