<section class="selection-page">


    <div class="search w-75">
        <div class="alphabet">
            <div class="alphabet-inner">
                <a>A</a>
            </div>
        </div>

        <div class="search-form card">
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="inputSearch" class="form-label">Find hero</label>
                        <input formControlName="search"
                               [class.has-error] = "isSearchIncorrect()"
                               type="text"
                               class="form-control"
                               id="inputSearch"
                               aria-describedby="searchHelp"/>
                    </div>

                    <div *ngIf="isSearchIncorrect()"
                         id="searchHelp"
                         class="text-danger">
                        <span *ngIf="isFieldHasError('search', 'required')">Enter only text</span>
                        <span *ngIf="isFieldHasError('search', 'pattern')">Enter only text</span>
                    </div>

                    <div class="mb-3 text-primary">
                        Recent search
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
