<section class="auth-page">
    <div class="alert alert-{{message.type}}"
         *ngIf="message.text">
        {{message.text}}
    </div>

    <h3 class="auth-page-title">Login page</h3>
    <form [formGroup]="form">
        <div class="mb-3">
            <label for="inputEmail1" class="form-label">Email</label>
            <input type="email"
                   class="form-control"
                   id="inputEmail1"
                   aria-describedby="emailHelp"
                   formControlName="email"
                   [class.has-error]="getField('email')?.invalid && getField('email')?.touched"/>
            <div id="emailHelp"
                 class="text-danger"
                 *ngIf="getField('email')?.invalid && getField('email')?.touched">
                <span *ngIf="isFieldHasError('email', 'required')">Email is required;</span>
                <span *ngIf="isFieldHasError('email', 'email')">Email is incorrect;</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   id="inputPassword1"
                   aria-describedby="passwordHelp"
                   formControlName="password"
                   [class.has-error]="getField('password')?.invalid && getField('password')?.touched">
            <div id="passwordHelp"
                 class="text-danger"
                 *ngIf="getField('password')?.invalid && getField('password')?.touched">
                <span *ngIf="isFieldHasError('password', 'required')">Password is required;</span>
                <span *ngIf="isFieldHasError('password', 'minlength')">should be at least 5 characters length;</span>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="onSubmit()">Sign in</button>
            <a class="btn btn-secondary" [routerLink]="link">Create new account</a>
        </div>
    </form>
</section>
