<div class="heroes">
    <div class="search-form card">
        <div class="card-body">
           <p class="card-text">Result: <span>100</span></p>
        </div>
        <ul class="heroes-list list-group list-group-flush">
            <li class="list-group-item">
                <div class="card mb-3">
                    <div class="heroes-item row">
                        <div class="col-md-4">
                            <img src=""  alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Name hero</h5>
                                <p class="card-text">Card text</p>
                                <ul>
                                    <li>Stats</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success">select</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
